*.o
*.moc
*.pyc
.~lock*
*~
.directory
*.kate-swp
Debug/*
Release/*
ui/*.h
bin/cattus
bin/reso
bin/taz
bin/formula
script/hermelin
perf.data
perf.data.old
gmon.out
sim/*.sim
sim/**/*.sim
sim/tasmieze.c
sim/tasmieze.cpp
sim/tasmieze
sim/tasmieze.out
sim/tasmieze_nomono.c
sim/tasmieze_nomono.cpp
sim/tasmieze_nomono
sim/tasmieze_nomono.out
sim/tasmieze_esstst.c
sim/tasmieze_esstst.cpp
sim/tasmieze_esstst
sim/tasmieze_esstst.out
sim/coiltest.cpp
sim/coiltest.out
sim/test/coiltest.cpp
sim/test/coiltest.out
script/tokens.h
script/script.tab.cc
script/script.cc
script/.clang/*
script/.codelite/*
./Makefile
.clang/*
.codelite/*
.settings/*
cattus.mk
cattus.txt
