*.o
*.moc
*.pyc
.~lock*
*~
.directory
*.kate-swp
Debug/*
Release/*
ui/*.h
bin/cattus
bin/reso
bin/taz
bin/formula
script/hermelin
perf.data
perf.data.old
gmon.out
sim/*.sim
sim/**/*.sim
sim/tasmieze.c
sim/tasmieze_nomono.c
sim/tasmieze.cpp
sim/tasmieze_nomono.cpp
sim/tasmieze
sim/tasmieze_nomono
sim/tasmieze.out
sim/tasmieze_nomono.out
script/tokens.h
script/script.tab.cc
